{% extends 'base.html.twig' %}

{% block title %}Hell yes, ASMR!{% endblock %}

{% block body %}
    <div class="app">
        <div class="row">
            <div class="col-md-2" v-if="searchExposed">
                <div v-if="searchMode === 'video'">
                    <input type="text" v-model="videoSearch.query" class="form-control" placeholder="Your search query...">
                    <div v-if="videoSearch.finished" v-for="video in videos">
                        <hr>
                        <span class="badge badge-danger" v-if="video.nsfw">NSFW</span>
                        <a href="javascript:void(0);" v-on:click="setVideo(video)">
                            ${video.title}
                        </a>
                    </div>
                    <div v-if="!videoSearch.finished">
                        <hr>
                        <center>
                            Please wait...
                        </center>
                    </div>
                    <hr>
                    <b>Note: loading can take a bit, give it a few seconds.</b>
                </div>
            </div>
            <div :class="'col-md-' + (searchExposed ? '10' : '12')">
                <button class="btn btn-primary" v-on:click="searchExposed = !searchExposed">Toggle search (because this is a shitty beta)</button>
                <br>
                <center>
                    <img src="{{ asset('assets/img/placeholder.jpg') }}" alt="Funny">
                    <h3>This is a proof-of-concept, the UI is to be overhauled soon!</h3>
                </center>
            </div>
        </div>
        <div class="bottom-bar">
            <span class="video-title">
                <a class="control-button" :href="'http://youtu.be/' + currentVideo.video.youtubeId" v-if="currentVideo.video !== null">
                    <span class="badge badge-danger" v-if="currentVideo.video.nsfw">
                        ಠ_ಠ
                    </span>
                    ${currentVideo.title}
                </a>
                <span v-if="currentVideo.video === null">
                    ${currentVideo.title}
                </span>

                <span class="pull-right controls">
                <a href="javascript:void(0)" v-on:click="play" v-if="currentVideo.state == 'stopped' || currentVideo.state == 'paused'" class="control-button">
                    <i class="fa fa-fw fa-play"></i>
                </a>
                <a href="javascript:void(0)" v-on:click="pause" v-if="currentVideo.state == 'playing'" class="control-button">
                    <i class="fa fa-fw fa-pause"></i>
                </a>
                <a href="javascript:void(0)" v-on:click="stop" v-if="currentVideo.state == 'paused' || currentVideo.state == 'playing'" class="control-button">
                    <i class="fa fa-fw fa-stop"></i>
                </a>
                    |
                <a href="javascript:void(0)" v-on:click="setVolume(0)" v-if="volume > 0" class="control-button">
                    <i class="fa fa-fw fa-volume-up"></i>
                </a>
                <a href="javascript:void(0)" v-on:click="setVolume(100)" v-if="volume < 1" class="control-button">
                    <i class="fa fa-fw fa-volume-off"></i>
                </a>
                <span class="control-button">
                    <input id="vol-control" type="range" min="0" max="100" step="1" v-model="volume" v-on:change="updateVolume"/>
                </span>
            </span>
            </span>
        </div>
    </div>
    <div id="asmrVideo"></div>
{% endblock %}

{% block javascripts %}
    {% if app.environment == 'dev' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.0/vue-resource.js"></script>
    {% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.0/vue-resource.min.js"></script>
    {% endif %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://www.youtube.com/player_api"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}